*{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

section{
    background: #141414;
}

h1{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}