* {
    font-family: "Archivo", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fefefe;
}

::-webkit-scrollbar-thumb {
    background: #478f67;
}

html {
    scroll-behavior: smooth;
    
}

body{
    height: 100vh;
    background-color: #132d2a;
    cursor: none;
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fefefe;
}

/* header */
header{
    position: relative;
    padding: 0.1rem;
    border-bottom: solid 1px #4e4e4e;
    background-color: #132d2a;
}

#cursor {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #77e7a9; 
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    z-index: 1;
}

.logo_header{
    width: 10%;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fefefe;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #aeffd3;
    color: #1a1c19;
    padding: 0.5rem 3rem;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.action_btn:hover {
    color: #1a1c19;
    scale: 1.05;
    background-color: #aeffd3;
}

.action_btn:active{
    scale: 0.95;
}

/* dropdown_menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 63px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(17px);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.080);
}

.dropdown_menu.open {
    height: 330px;
}

.dropdown_menu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    padding: 1rem 0;
    justify-content: center;
}

/* responsive */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .logo_header{
        width: 30%;
    }

    .info_company{
        padding: 2rem 1rem;
    }

    .logo_footer{
        width: 7%;
    }
}

@media(max-width: 768px){
    .logo_header{
        width: 20%;
    }
}

@media(max-width: 576px ){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    .logo_header{
        width: 35%;
    }
}

/* home */
section#home{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fefefe;
    background-image: url('/assets/images/background.jpg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

#home p{
    font-size: 1.5rem;
}

.btn_home {
    margin-top: 2rem;
    background: #77e7a9;
    padding: 1rem 2rem;
    color: #132d2a;
    font-weight: 700;
    border-radius: 30px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media(max-width: 992px){
    section#home{
        height: 70vh;
    }

    #home h1{
        font-size: 1.8rem;
        padding: 20px;
        margin-top: -50px;
        font-weight: 500;
        text-align: left;
    }

    #home p{
        text-align: left;
        padding: 20px;
        margin-top: -50px;
        font-weight: 500;
        text-align: left;
    }

    .btn_home{
        margin: 1rem auto;
    }
}

section{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-evenly;
}

/* section info */
#about, #expertise, #testimonials, #contact, #references{
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fefefe;
    background-color: #fefefe;
    flex-direction: row;
}

.image_about, .image_expertise, .image_testimonials, .image_references, .image_contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info, .info2, .info3, .info4, .info5{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.img{
    width: 70%;
    border-radius: 20px;
}

.description_one{
    color: #132d2a;
    font-size: 3rem;
    font-weight: 500;
}

.description_two{
    font-size: 1.3rem;
    color: #132d2a;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    padding: 1rem 0;
    margin-right: 5rem;
}

.btn_general {
    background-color: #77E7A9;
    color: #1a1c19;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    width: 30%;
}

.btn_general:hover {
    color: #1a1c19;
    scale: 1.05;
    background-color: #77E7A9;
}

.btn_general:active{
    scale: 0.95;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.image_about, .info {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.6s ease-out;
}

.animated {
    opacity: 1;
    transform: translateY(0);
    animation: slideUp 1s ease-out;
}

@media(max-width: 992px){
    #about, #expertise, #testimonials, #contact, #references{
        flex-direction: column;
        height: 100%;
        padding-bottom: 5rem ;
    }

    #expertise, #references{
        flex-direction: column-reverse;
        height: 100%;
        padding-bottom: 5rem ;
    }

    .image_about, .image_expertise, .image_testimonials, .image_references, .image_contact{
        width: 100%;
        height: 100%;
}
    .info, .info2, .info3, .info4, .info5{
        justify-content: center;
        align-items: left;
        display: flex;
        padding: 1rem;
        width: 100%;
        top: 60px;
    }

    .description_one{
        font-size: 2rem;
        font-weight: 600;
    }

    .description_two{
        margin: 1.5rem 0;
        font-weight: 500;
        padding: 0;
    }

    .img{
        width: 100%;
        border-radius: 0;
    }

    .btn_general{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
}

#contact{
    padding-bottom: 1rem;
}

form{
    display: flex;
    margin: 1rem ;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    color: #132d2a;
}

form label{
    flex: 1;
}

form input, form textarea{
    flex: 3;
}

form input, form textarea, form div{
    width: 100%;
}
form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form textarea{
    height: 200px;
}

@media(max-width:  768px){
    form input, form textarea, form div{
        width: 100%;
    }
    form textarea{
        height: 150px;
    }
    form div{
        flex-direction: column;
    }
    form{
        gap: 0.5rem;
    }
}

/* footer */
.info_company{
    /* background-color: #2b3427; */
    display: flex;
    color: #fefefe;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 10px;
}

.logo_footer{
    width: 3%;
}

.footer_copyrighy{
    color: #1a1c19;
    background-color: #fefefe;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;
}


