<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Cadastro</title>
</head>
<body>
<h1>Cadastro de Pessoa</h1>
<form th:action="@{/salvar}" th:object="${pessoa}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" />
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" />
    <br>
    <button type="submit">Salvar</button>
</form>
</body>
</html>